.navbar_div{
    height: 98px;
    background-color: #0a2640;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.navbar{
    display: flex;
    width: 1200px;
    height: 42px;
    background-color: #0a2640;
    color: white;
}

.navbar_right{
    margin-left:auto;
    display: flex;
    align-items:center;
    gap:40px;
}

.login_button{
    background-color: rgb(255, 255, 255);
    color : #0a2640;
    width: 128px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
}